# Demo Notebook For Training and Running Zingg Entity Resolution Workflow on Databricks
This notebook runs the Zingg Febrl Example on Databricks. 
Please refer to the 
1. [Zingg Python API](https://readthedocs.org/projects/zingg/) 
2. [Zingg Official Documentation](https://www.docs.zingg.ai) 
for details.

Please ensure your cluster has the following installed
1. Zingg from pypi
2. Zingg jar from the [repo](https://github.com/zinggAI/zingg/releases)
3. tabulate from pypi

Please execute each cell one by one as per the instructions provided.

If you face any issue, please [log an issue](https://github.com/zinggAI/zingg/issues)

You can also join [Zingg's Slack community](https://join.slack.com/t/zinggai/shared_invite/zt-w7zlcnol-vEuqU9m~Q56kLLUVxRgpOA)

In [0]:
pip install zingg

Note: you may need to restart the kernel using dbutils.library.restartPython() to use updated packages.
Requirement already satisfied: zingg in /local_disk0/.ephemeral_nfs/cluster_libraries/python/lib/python3.10/site-packages (0.4.0)
Requirement already satisfied: py4j==0.10.9 in /local_disk0/.ephemeral_nfs/cluster_libraries/python/lib/python3.10/site-packages (from zingg) (0.10.9)
Note: you may need to restart the kernel using dbutils.library.restartPython() to use updated packages.

In [0]:
dbutils.library.restartPython()

In [0]:
pip show zingg

Name: zingg
Version: 0.4.0
Summary: Zingg Entity Resolution, Data Mastering and Deduplication
Home-page: https://github.com/zinggAI/zingg
Author: Zingg.AI
Author-email: sonalgoyal4@gmail.com
License: https://github.com/zinggAI/zingg/blob/main/LICENSE
Location: /local_disk0/.ephemeral_nfs/cluster_libraries/python/lib/python3.10/site-packages
Requires: py4j
Required-by:

In [0]:
pip install tabulate

Note: you may need to restart the kernel using dbutils.library.restartPython() to use updated packages.
Requirement already satisfied: tabulate in /databricks/python3/lib/python3.10/site-packages (0.8.10)
Note: you may need to restart the kernel using dbutils.library.restartPython() to use updated packages.

In [0]:
dbutils.library.restartPython()

In [0]:
pip show tabulate

Name: tabulate
Version: 0.8.10
Summary: Pretty-print tabular data
Home-page: https://github.com/astanin/python-tabulate
Author: Sergey Astanin
Author-email: s.astanin@gmail.com
License: MIT
Location: /databricks/python3/lib/python3.10/site-packages
Requires:
Required-by: databricks-cli

# Define locations for the model
The Zingg models and training data are persisted in dbfs. 

**Please edit the model id in the cell below to reflect your model.**

In [0]:
##you can change these to the locations of your choice
##these are the only two settings that need to change
zinggDir = "/models"
modelId = "databricksdemotrial"

/models/databricksdemotrial/trainingData/marked/

True

# Setup common functions for use in Zingg. 
These functions setup the internal folders used by Zingg, and help with labeling and training Zingg. 

**No change is needed in the cell below.**

In [0]:

##please leave the following unchanged
MARKED_DIR = zinggDir + "/" + modelId + "/trainingData/marked/"
UNMARKED_DIR = zinggDir + "/" + modelId + "/trainingData/unmarked/"

MARKED_DIR_DBFS = "/dbfs" + MARKED_DIR
UNMARKED_DIR_DBFS = "/dbfs" + UNMARKED_DIR  


import pandas as pd
import numpy as np
 
import time
import uuid
 
from tabulate import tabulate
from ipywidgets import widgets, interact, GridspecLayout
import base64

import pyspark.sql.functions as fn

##this code sets up the Zingg Python interface
from zingg.client import *
from zingg.pipes import *

def cleanModel():
    dbutils.fs.rm(MARKED_DIR, recurse=True)
    # drop unmarked data
    dbutils.fs.rm(UNMARKED_DIR, recurse=True)
    return

# assign label to candidate pair
def assign_label(candidate_pairs_pd, z_cluster, label):
  '''
  The purpose of this function is to assign a label to a candidate pair
  identified by its z_cluster value.  Valid labels include:
     0 - not matched
     1 - matched
     2 - uncertain
  '''
  
  # assign label
  candidate_pairs_pd.loc[ candidate_pairs_pd['z_cluster']==z_cluster, 'z_isMatch'] = label
  
  return
 
def count_labeled_pairs(marked_pd):
  '''
  The purpose of this function is to count the labeled pairs in the marked folder.
  '''

  n_total = len(np.unique(marked_pd['z_cluster']))
  n_positive = len(np.unique(marked_pd[marked_pd['z_isMatch']==1]['z_cluster']))
  n_negative = len(np.unique(marked_pd[marked_pd['z_isMatch']==0]['z_cluster']))
  
  return n_positive, n_negative, n_total

# setup widget 
available_labels = {
    'No Match':0,
    'Match':1,
    'Uncertain':2
    }
#dbutils.widgets.dropdown('label', 'Uncertain', available_labels.keys(), 'Is this pair a match?')

/databricks/spark/python/pyspark/sql/context.py:118: FutureWarning: Deprecated in 3.0.0. Use SparkSession.builder.getOrCreate() instead.
  warnings.warn(

# Start building the Zingg program 
The following cell sets up the initial arguments for Zingg. 

**No change is needed in the cell below.**

In [0]:

#build the arguments for zingg
args = Arguments()
# Set the modelid and the zingg dir. You can use this as is
args.setModelId(modelId)
args.setZinggDir(zinggDir)

# Define the input
Our data is in csv so we provide a schema. You can choose other formats like parquet by using Pipe with parquet as the format.
You can also pass in a dataframe by using a Pipe with the in memory format. 
Please refer to [Pipes](https://zingg.readthedocs.io/en/latest/zingg.html#zingg.pipes.Pipe) for details on different formats

**Please modify this for your data.**

In [0]:
schema = "id string, fname string, lname string, stNo string, add1 string, add2 string, city string, state string, areacode string, dob string, ssn  string"
inputPipe = CsvPipe("testFebrl", "/FileStore/tables/test.csv", schema)

args.setData(inputPipe)

set schema

# Configure the output
Here we configure the putput to be a csv, but similar to the input above, the output can be a file format like parquet or delta or a data store like MySQL

**Please modify this for your data.**

In [0]:
#setting outputpipe in 'args'
outputPipe = CsvPipe("resultFebrl", "/tmp/febrlOutput")
args.setOutput(outputPipe)

# Define the match fields and their types

The cell below is used to configure Zingg with the fields for use in matching and the match types.
Details on the field definitions can be found at [Zingg official docs](https://www.docs.zingg.ai)

**Please modify this for your data.**

In [0]:
#set field definitions 
#please change these 
fname = FieldDefinition("fname", "string", MatchType.FUZZY)
lname = FieldDefinition("lname", "string", MatchType.FUZZY)
stNo = FieldDefinition("stNo", "string", MatchType.FUZZY)
add1 = FieldDefinition("add1","string", MatchType.FUZZY)
add2 = FieldDefinition("add2", "string", MatchType.FUZZY)
city = FieldDefinition("city", "string", MatchType.FUZZY)
areacode = FieldDefinition("areacode", "string", MatchType.FUZZY)
state = FieldDefinition("state", "string", MatchType.FUZZY)
dob = FieldDefinition("dob", "string", MatchType.FUZZY)
ssn = FieldDefinition("ssn", "string", MatchType.FUZZY)

fieldDefs = [fname, lname, stNo, add1, add2, city, areacode, state, dob, ssn]
args.setFieldDefinition(fieldDefs)

# Performance settings

The numPartitions define how data is split across the cluster. Please change this as per your data and cluster size by referring to the performance section of the Zingg docs.
The labelDataSampleSize is used for sampling in findTrainingData. It lets Zingg select pairs for labeling in a reasonable amount of time. 
If the findTrainingData phase is taking to much time, please reduce this by atleast 1/10th of its previous value and try again.

**Please modify this for your data.**

In [0]:

# The numPartitions define how data is split across the cluster. 
# Please change the fllowing as per your data and cluster size by referring to the docs.

args.setNumPartitions(4)
args.setLabelDataSampleSize(0.5)

# Get Zingg to find pairs for user labeling
**No change is needed in the cell below.**

In [0]:
options = ClientOptions([ClientOptions.PHASE,"findTrainingData"])

#Zingg execution for the given phase
zingg = ZinggWithSpark(args, options)
zingg.initAndExecute()

['--phase', 'findTrainingData']
arguments for client options are  ['--phase', 'findTrainingData', '--license', 'zinggLic.txt', '--email', 'zingg@zingg.ai', '--conf', 'dummyConf.json']

# Prepare for user labeling
**No change is needed in the cell below.**

In [0]:
options = ClientOptions([ClientOptions.PHASE,"label"])

#Zingg execution for the given phase
zingg = ZinggWithSpark(args, options)
zingg.init()

['--phase', 'label']
arguments for client options are  ['--phase', 'label', '--license', 'zinggLic.txt', '--email', 'zingg@zingg.ai', '--conf', 'dummyConf.json']

# See if we have records for labeling

**No change is needed to the cell below.**

In [0]:
# get candidate pairs
candidate_pairs_pd = getPandasDfFromDs(zingg.getUnmarkedRecords())
 
# if no candidate pairs, run job and wait
if candidate_pairs_pd.shape[0] == 0:
  print('No unlabeled candidate pairs found.  Run findTraining job ...')

else:
    # get list of pairs (as identified by z_cluster) to label 
    z_clusters = list(np.unique(candidate_pairs_pd['z_cluster'])) 

    # identify last reviewed cluster
    last_z_cluster = '' # none yet

    # print candidate pair stats
    print('{0} candidate pairs found for labeling'.format(len(z_clusters)))

/databricks/spark/python/pyspark/sql/dataframe.py:154: UserWarning: DataFrame constructor is internal. Do not directly use it.
  warnings.warn("DataFrame constructor is internal. Do not directly use it.")

22 candidate pairs found for labeling

# Start labeling to make Zingg learn how we want to match our data

**No change is needed to the cell below.**

In [0]:
# Label Training Set

# define variable to avoid duplicate saves
ready_for_save = False
print(candidate_pairs_pd)

# user-friendly labels and corresponding zingg numerical value
# (the order in the dictionary affects how displayed below)
LABELS = {
  'Uncertain':2,
  'Match':1,
  'No Match':0  
  }

# GET CANDIDATE PAIRS
# ========================================================
#candidate_pairs_pd = get_candidate_pairs()
n_pairs = int(candidate_pairs_pd.shape[0]/2)
# ========================================================

# DEFINE IPYWIDGET DISPLAY
# ========================================================
display_pd = candidate_pairs_pd.drop(
  labels=[
    'z_zid', 'z_prediction', 'z_score', 'z_isMatch', 'z_zsource'
    ], 
  axis=1)

# define header to be used with each displayed pair
html_prefix = "<p><span style='font-family:Courier New,Courier,monospace'>"
html_suffix = "</p></span>"
header = widgets.HTML(value=f"{html_prefix}<b>" + "<br />".join([str(i)+"&nbsp;&nbsp;" for i in display_pd.columns.to_list()]) + f"</b>{html_suffix}")

# initialize display
vContainers = []
vContainers.append(widgets.HTML(value=f'<h2>Indicate if each of the {n_pairs} record pairs is a match or not</h2></p>'))

# for each set of pairs
for n in range(n_pairs):

  # get candidate records
  candidate_left = display_pd.loc[2*n].to_list()
  print(candidate_left)
  candidate_right = display_pd.loc[(2*n)+1].to_list()
  print(candidate_right)

  # define grid to hold values
  html = ''

  for i in range(display_pd.shape[1]):

    # get column name
    column_name = display_pd.columns[i]

    # if field is image
    if column_name == 'image_path':

      # define row header
      html += '<tr>'
      html += '<td><b>image</b></td>'

      # read left image to encoded string
      l_endcode = ''
      if candidate_left[i] != '':
        with open(candidate_left[i], "rb") as l_file:
          l_encode = base64.b64encode( l_file.read() ).decode()

      # read right image to encoded string
      r_encode = ''
      if candidate_right[i] != '':
        with open(candidate_right[i], "rb") as r_file:
          r_encode = base64.b64encode( r_file.read() ).decode()      

      # present images
      html += f'<td><img src="data:image/png;base64,{l_encode}"></td>'
      html += f'<td><img src="data:image/png;base64,{r_encode}"></td>'
      html += '</tr>'

    elif column_name != 'image_path':  # display text values

      if column_name == 'z_cluster': z_cluster = candidate_left[i]

      html += '<tr>'
      html += f'<td style="width:10%"><b>{column_name}</b></td>'
      html += f'<td style="width:45%">{str(candidate_left[i])}</td>'
      html += f'<td style="width:45%">{str(candidate_right[i])}</td>'
      html += '</tr>'

  # insert data table
  table = widgets.HTML(value=f'<table data-title="{z_cluster}" style="width:100%;border-collapse:collapse" border="1">'+html+'</table>')
  z_cluster = None

  # assign label options to pair
  label = widgets.ToggleButtons(
    options=LABELS.keys(), 
    button_style='info'
    )

  # define blank line between displayed pair and next
  blankLine=widgets.HTML(value='<br>')

  # append pair, label and blank line to widget structure
  vContainers.append(widgets.VBox(children=[table, label, blankLine]))

# present widget
display(widgets.VBox(children=vContainers))
# ========================================================

# mark flag to allow save 
ready_for_save = True

    z_zid         z_cluster  z_prediction  ...       dob      ssn  z_zsource
0      37   1702556168823:1          -1.0  ...  19280722  7626396  testFebrl
1       6   1702556168823:1          -1.0  ...  19830807  2932837  testFebrl
2      30  1702556168823:11          -1.0  ...  19191031  7801066  testFebrl
3      22  1702556168823:11          -1.0  ...  19461101  4783085  testFebrl
4      40  1702556168823:13          -1.0  ...  19280722  7626396  testFebrl
5       7  1702556168823:13          -1.0  ...  19830807  2932837  testFebrl
6      56  1702556168823:15          -1.0  ...  19801125  3328205  testFebrl
7      30  1702556168823:15          -1.0  ...  19191031  7801066  testFebrl
8      37  1702556168823:17          -1.0  ...  19280722  7626396  testFebrl
9      36  1702556168823:17          -1.0  ...  19280722  7626396  testFebrl
10     57  1702556168823:19          -1.0  ...  19801125  3328205  testFebrl
11     30  1702556168823:19          -1.0  ...  19191031  7801066  testFebrl
12     46   1702556168823:2          -1.0  ...  19250817  2655081  testFebrl
13     43   1702556168823:2          -1.0  ...  19510806  3710651  testFebrl
14     40  1702556168823:21          -1.0  ...  19280722  7626396  testFebrl
15     36  1702556168823:21          -1.0  ...  19280722  7626396  testFebrl
16     17  1702556168823:23          -1.0  ...  19180205  9341716  testFebrl
17     16  1702556168823:23          -1.0  ...  19180205  1909717  testFebrl
18     59  1702556168823:25          -1.0  ...  19670206  9724789  testFebrl
19      8  1702556168823:25          -1.0  ...  19410111  2540080  testFebrl
20     52  1702556168823:27          -1.0  ...  19801119  2563135  testFebrl
21     51  1702556168823:27          -1.0  ...  19801119  2563135  testFebrl
22     40  1702556168823:29          -1.0  ...  19280722  7626396  testFebrl
23     37  1702556168823:29          -1.0  ...  19280722  7626396  testFebrl
24     53   1702556168823:3          -1.0  ...  19801119  2563135  testFebrl
25     52   1702556168823:3          -1.0  ...  19801119  2563135  testFebrl
26     29  1702556168823:31          -1.0  ...  19840802  3624304  testFebrl
27     28  1702556168823:31          -1.0  ...            3624304  testFebrl
28     48  1702556168823:35          -1.0  ...  19050820  3677127  testFebrl
29     28  1702556168823:35          -1.0  ...            3624304  testFebrl
30     49  1702556168823:39          -1.0  ...  19050820  3677127  testFebrl
31     29  1702556168823:39          -1.0  ...  19840802  3624304  testFebrl
32     62  1702556168823:43          -1.0  ...  19030926  8190756  testFebrl
33     60  1702556168823:43          -1.0  ...  19030926  8190756  testFebrl
34     63  1702556168823:47          -1.0  ...  19030926  8190756  testFebrl
35     60  1702556168823:47          -1.0  ...  19030926  8190756  testFebrl
36     40   1702556168823:5          -1.0  ...  19280722  7626396  testFebrl
37      6   1702556168823:5          -1.0  ...  19830807  2932837  testFebrl
38     57  1702556168823:51          -1.0  ...  19801125  3328205  testFebrl
39     56  1702556168823:51          -1.0  ...  19801125  3328205  testFebrl
40     63   1702556168823:7          -1.0  ...  19030926  8190756  testFebrl
41     62   1702556168823:7          -1.0  ...  19030926  8190756  testFebrl
42     36   1702556168823:9          -1.0  ...  19280722  7626396  testFebrl
43      6   1702556168823:9          -1.0  ...  19830807  2932837  testFebrl

[44 rows x 16 columns]
['1702556168823:1', ' jaiden', ' rollins', '95', ' rossarden street', ' tulgewyood', ' balwyn north', ' nt', '2224', '19280722', '7626396']
['1702556168823:1', ' jackson', ' eglinton', '840', ' fowles street', ' mountv iew', ' burleigh heads', ' sa', '2830', '19830807', '2932837']
['1702556168823:11', ' keziah', ' painter', '18', ' ainsli e avenue', ' sec 1', ' torquay', ' vic', '3205', '19191031', '7801066']
['1702556168823:11', ' kylee', ' stephenson', '81', ' cordoba manor', ' rose scott circuit', ' ashfield', ' vic', '4226', '19461101', '4783085']
['1702556168823:13', ' jaiden', ' rollins', '48', ' rossarden street', ' tulgeywood', ' balwyn north', ' nt', '2224', '19280722', '7626396']
['1702556168823:13', ' jackson', ' eglinton', '840', ' fowles street', ' mountview', ' burleigh heads', ' sa', '2830', '19830807', '2932837']
['1702556168823:15', ' kiandra', ' ', '2', ' gatliff place', ' rustenburg sth', ' girgarre', ' qld', '3995', '19801125', '3328205']
['1702556168823:15', ' keziah', ' painter', '18', ' ainsli e avenue', ' sec 1', ' torquay', ' vic', '3205', '19191031', '7801066']
['1702556168823:17', ' jaiden', ' rollins', '95', ' rossarden street', ' tulgewyood', ' balwyn north', ' nt', '2224', '19280722', '7626396']
['1702556168823:17', ' jaiden', ' rollins', '48', ' tulgeywood', ' rossarden street', ' balwyn north', ' nt', '2224', '19280722', '7626396']
['1702556168823:19', ' kiandra', ' cowle', '2', ' gatliff place', ' rustenubr g sth', ' girgarre', ' qld', '3995', '19801125', '3328205']
['1702556168823:19', ' keziah', ' painter', '18', ' ainsli e avenue', ' sec 1', ' torquay', ' vic', '3205', '19191031', '7801066']
['1702556168823:2', ' angus', ' roas', '62', ' gormansto crescent', ' mlc centre', ' kiruwah', ' sa', '3350', '19250817', '2655081']
['1702556168823:2', ' amber', ' held', '24', ' lampard circuit', ' emerald garden', ' golden bay', ' vic', '2447', '19510806', '3710651']
['1702556168823:21', ' jaiden', ' rollins', '48', ' rossarden street', ' tulgeywood', ' balwyn north', ' nt', '2224', '19280722', '7626396']
['1702556168823:21', ' jaiden', ' rollins', '48', ' tulgeywood', ' rossarden street', ' balwyn north', ' nt', '2224', '19280722', '7626396']
['1702556168823:23', ' ', ' eglinton', '24', ' currie crescent', ' woorinyan', ' riverwood', ' qld', '3749', '19180205', '9341716']
['1702556168823:23', ' ', ' eglinton', '24', ' curriecrescent', ' woorinyan', ' riverwood', ' qld', '3749', '19180205', '1909717']
['1702556168823:25', ' giorgia', ' frahn', '62', ' handasyde street', ' ramano estate locn 1', ' tallebudgera', ' vic', '4506', '19670206', '9724789']
['1702556168823:25', ' gianni', ' matson', '701', ' willis street', ' boonooloo', ' clifton', ' vic', '3101', '19410111', '2540080']
['1702556168823:27', ' matilda', ' mestrov', '5', ' house circuit', ' retiremen tvillage', ' taringa', ' ', '3820', '19801119', '2563135']
['1702556168823:27', ' matilda', ' mestrv', '5', ' house circuit', ' retirement village', ' taringa', ' qld', '3802', '19801119', '2563135']
['1702556168823:29', ' jaiden', ' rollins', '48', ' rossarden street', ' tulgeywood', ' balwyn north', ' nt', '2224', '19280722', '7626396']
['1702556168823:29', ' jaiden', ' rollins', '95', ' rossarden street', ' tulgewyood', ' balwyn north', ' nt', '2224', '19280722', '7626396']
['1702556168823:3', ' matilda', ' mestrov', '5', ' house circuit', ' retirement village', ' taringa', ' qld', '3820', '19801119', '2563135']
['1702556168823:3', ' matilda', ' mestrov', '5', ' house circuit', ' retiremen tvillage', ' taringa', ' ', '3820', '19801119', '2563135']
['1702556168823:31', ' brooklyn', ' naar-cafentas', '210', ' duffy street', ' tourist park', ' berwick', ' nsw', '2481', '19840802', '3624304']
['1702556168823:31', ' brooklyn', ' naar-cafentas', '210', ' duffy street', ' tourist psrk', ' berwick', ' nsw', '2481', ' ', '3624304']
['1702556168823:35', ' benjaminl', ' carbone', '18', ' arthella', ' wattle s treet', ' orange', ' vic', '3550', '19050820', '3677127']
['1702556168823:35', ' brooklyn', ' naar-cafentas', '210', ' duffy street', ' tourist psrk', ' berwick', ' nsw', '2481', ' ', '3624304']
['1702556168823:39', ' benjamin', ' carbone', '18', ' wattle street', ' arthella', ' orange', ' vic', '3550', '19050820', '3677127']
['1702556168823:39', ' brooklyn', ' naar-cafentas', '210', ' duffy street', ' tourist park', ' berwick', ' nsw', '2481', '19840802', '3624304']
['1702556168823:43', ' nicole', ' carbone', '46', ' schlich street', ' simpson arm ybarracks', ' toowong', ' wa', '3000', '19030926', '8190756']
['1702556168823:43', ' nicole', ' shadbolt', '46', ' schlich s treet', ' simpson army barracks', ' toowoomba', ' wa', '3000', '19030926', '8190756']
['1702556168823:47', ' nicole', ' carbone', '46', ' schlich street', ' simpsonary barracks', ' toowoomba', ' wa', '3000', '19030926', '8190756']
['1702556168823:47', ' nicole', ' shadbolt', '46', ' schlich s treet', ' simpson army barracks', ' toowoomba', ' wa', '3000', '19030926', '8190756']
['1702556168823:5', ' jaiden', ' rollins', '48', ' rossarden street', ' tulgeywood', ' balwyn north', ' nt', '2224', '19280722', '7626396']
['1702556168823:5', ' jackson', ' eglinton', '840', ' fowles street', ' mountv iew', ' burleigh heads', ' sa', '2830', '19830807', '2932837']
['1702556168823:51', ' kiandra', ' cowle', '2', ' gatliff place', ' rustenubr g sth', ' girgarre', ' qld', '3995', '19801125', '3328205']
['1702556168823:51', ' kiandra', ' ', '2', ' gatliff place', ' rustenburg sth', ' girgarre', ' qld', '3995', '19801125', '3328205']
['1702556168823:7', ' nicole', ' carbone', '46', ' schlich street', ' simpsonary barracks', ' toowoomba', ' wa', '3000', '19030926', '8190756']
['1702556168823:7', ' nicole', ' carbone', '46', ' schlich street', ' simpson arm ybarracks', ' toowong', ' wa', '3000', '19030926', '8190756']
['1702556168823:9', ' jaiden', ' rollins', '48', ' tulgeywood', ' rossarden street', ' balwyn north', ' nt', '2224', '19280722', '7626396']
['1702556168823:9', ' jackson', ' eglinton', '840', ' fowles street', ' mountv iew', ' burleigh heads', ' sa', '2830', '19830807', '2932837']

VBox(children=(HTML(value='<h2>Indicate if each of the 22 record pairs is a match or not</h2></p>'), VBox(chil…

# Save all the labels provided by the user 
No change is needed to the cell below.

In [0]:
if not ready_for_save:
  print('No labels have been assigned. Run the previous cell to create candidate pairs and assign labels to them before re-running this cell.')

else:

  # ASSIGN LABEL VALUE TO CANDIDATE PAIRS IN DATAFRAME
  # ========================================================
  # for each pair in displayed widget
  for pair in vContainers[1:]:

    # get pair and assigned label
    html_content = pair.children[1].get_interact_value() # the displayed pair as html
    user_assigned_label = pair.children[1].get_interact_value() # the assigned label

    # extract candidate pair id from html pair content
    start = pair.children[0].value.find('data-title="')
    if start > 0: 
      start += len('data-title="') 
      end = pair.children[0].value.find('"', start+2)
    pair_id = pair.children[0].value[start:end]



    # assign label to candidate pair entry in dataframe
    candidate_pairs_pd.loc[candidate_pairs_pd['z_cluster']==pair_id, 'z_isMatch'] = LABELS.get(user_assigned_label)
  # ========================================================

  # SAVE LABELED DATA TO ZINGG FOLDER
  # ========================================================
  # make target directory if needed
  dbutils.fs.mkdirs(MARKED_DIR)
  
  # save label assignments
  # save labels
  zingg.writeLabelledOutputFromPandas(candidate_pairs_pd,args)

  # count labels accumulated
  marked_pd_df = getPandasDfFromDs(zingg.getMarkedRecords())
  n_pos, n_neg, n_tot = count_labeled_pairs(marked_pd_df)
  print(f'You have accumulated {n_pos} pairs labeled as positive matches.')
  print(f'You have accumulated {n_neg} pairs labeled as not matches.')
  print("If you need more pairs to label, re-run the cell for 'findTrainingData'")
  # ========================================================  

  # save completed
  ready_for_save = False

/databricks/spark/python/pyspark/sql/dataframe.py:154: UserWarning: DataFrame constructor is internal. Do not directly use it.
  warnings.warn("DataFrame constructor is internal. Do not directly use it.")

You have accumulated 7 pairs labeled as positive matches.
You have accumulated 8 pairs labeled as not matches.
If you need more pairs to label, re-run the cell for 'findTrainingData'

StructType([StructField('z_zid', LongType(), True), StructField('z_cluster', StringType(), True), StructField('z_prediction', DoubleType(), True), StructField('z_score', DoubleType(), True), StructField('z_isMatch', IntegerType(), True), StructField('fname', StringType(), True), StructField('lname', StringType(), True), StructField('stNo', StringType(), True), StructField('add1', StringType(), True), StructField('add2', StringType(), True), StructField('city', StringType(), True), StructField('areacode', StringType(), True), StructField('state', StringType(), True), StructField('dob', StringType(), True), StructField('ssn', StringType(), True), StructField('z_zsource', StringType(), True)])

# Persist the Zingg models by training on the labels and run them to predict matches
No change is needed to the cell below.

In [0]:
options = ClientOptions([ClientOptions.PHASE,"trainMatch"])

#Zingg execution for the given phase
zingg = ZinggWithSpark(args, options)
zingg.initAndExecute()

['--phase', 'trainMatch']
arguments for client options are  ['--phase', 'trainMatch', '--license', 'zinggLic.txt', '--email', 'zingg@zingg.ai', '--conf', 'dummyConf.json']

# Voila! We are done. Lets check the results. 

**No change is needed to the cell below.**

In [0]:
outputDF = spark.read.csv('/tmp/febrlOutput')

In [0]:

colNames = ["z_minScore", "z_maxScore", "z_cluster","fname", "lname", "stNo", "add1", "add2", "city", "areacode", "state", "dob", "ssn"]
outputDF.toDF(*colNames).show(100)

+------------------+------------------+---------+---------+-------------+----+-------------------+--------------------+----------------+--------+-----+--------+-------+
|        z_minScore|        z_maxScore|z_cluster|    fname|        lname|stNo|               add1|                add2|            city|areacode|state|     dob|    ssn|
+------------------+------------------+---------+---------+-------------+----+-------------------+--------------------+----------------+--------+-----+--------+-------+
|0.9999999999186376|0.9999999999186376|        1|   thomas|       george|   1|      mcmanus place|        stoney creek|north turramurra|      sa| 3130|19630225|5460534|
|0.9999877574360159|0.9999877574360159|        3|     Érik|         Guay| 840|      fowles street|         moun tvjiew|  burleigh heads|      ss| 2830|    NULL|2932837|
|0.9999997560138284|0.9999998455488001|        5|  jackson|      christo| 840|      fowles street|          mou ntveiw|   burleig heads|      sa| 2830|19830807|2932837|
|              NULL|              NULL|        8|   gianni|       matson| 701|      willis street|           boonooloo|         clifton|     vic| 3101|19410111|2540080|
|0.9999999997642891| 0.999999999941606|       11|     xani|        green|   2|     phillip avenue|         abbey green|        armidale|     nsw| 5108|19390410|9201857|
| 0.999999974744846|0.9999999999966902|       15|     NULL|         NULL|  24|               NULL|           woorinyan|       riverwood|     qld| 3749|19180205|9341716|
|              NULL|              NULL|       19|   sachin|   stephenson|  81| rose scott circuit|       cordoba manor|       ashfi eld|     vic| 4226|19461101|4783085|
|0.9999990753958321|0.9999999990862393|       18|    kylee|   stephenson|  81| rose scott circuit|       cordoba manor|        ashfield|     vic| 4226|19461101|4783085|
|0.9989714423401491|0.9989714423401491|       24|   briony|      koerbin| 146|violet grover place|           wybelanah|       mill park|     nsw| 2446|19210210|3808808|
|              NULL|              NULL|       26|     emma|     crossman|  53|     mcdowall place|           kellhaven|            tara|     vic| 5608|19391027|3561186|
|0.9999999999941671|0.9999999999941671|       28| brooklyn|naar-cafentas| 210|       duffy street|        tourist psrk|         berwick|     nsw| 2481|    NULL|3624304|
|0.9999999999941671|0.9999999999941671|       28| brooklyn|naar-cafentas| 210|       duffy street|        tourist park|         berwick|     nsw| 2481|19840802|3624304|
|0.9999999999796465|0.9999999999796465|       30|   keziah|      painter|  18|    ainsli e avenue|               sec 1|         torquay|     vic| 3205|19191031|7801066|
|0.9999999999796465|0.9999999999796465|       30|   keziah|      painter|  18|     ainslie avenue|               sec 1|         torquay|     vic| 3205|19191031|7801066|
|0.9982139314327534|0.9999636635468766|       32|     erin|      maynard|  51|    wilshire street|            warialda|    little irver|     vic| 2777|19970430|1815999|
|              NULL|              NULL|       34|   hayley|      maynard|  14|    wilshire street|                NULL|    little river|     vic| 2777|19970430|7429462|
|              NULL|              NULL|       42|   sarsha|         held|  42|    lampard circuit|                NULL|      golden bay|     vic| 2447|19510806|3710651|
| 0.999999996623574| 0.999999996623574|       48|benjaminl|      carbone|  18|           arthella|      wattle s treet|          orange|     vic| 3550|19050820|3677127|
|0.9999999991450294|0.9999999991450294|       54|    tyler|        frojd|NULL|  burramurra avenue|       kmart p plaza|        san rmeo|      sa| 3670|19800916|7812219|
|0.9999999483807158|0.9999999999841995|       60|   nicole|      carbone|  46|    schlich nstreet|simpson army barr...|       toowoomba|      wa| 3000|19030926|8190756|
|0.9999966729121871|0.9999999997372474|       60|   nicole|      carbone|  46|     schlich street|simpson arm ybarr...|         toowong|      wa| 3000|19030926|8190756|
|0.9999999999178806|0.9999999999178806|        1|   thomas|       george|   1|      mcmanus place|        stoney creek|north turramurra|      sa| 3130|19630225|5460534|
|0.9999879660593812|0.9999879660593812|        3|     Érik|         Guay| 840|      fowles street|         moun tvjiew|  burleigh heads|      ss| 2830|    NULL|2932837|
|0.9999997593429388|0.9999998471909275|        5|  jackson|      christo| 840|      fowles street|          mou ntveiw|   burleig heads|      sa| 2830|19830807|2932837|
|              NULL|              NULL|        8|   gianni|       matson| 701|      willis street|           boonooloo|         clifton|     vic| 3101|19410111|2540080|
|  0.99999999976221|0.9999999999404711|       11|     xani|        green|   2|     phillip avenue|         abbey green|        armidale|     nsw| 5108|19390410|9201857|
|0.9999999742098629|0.9999999999966328|       15|     NULL|         NULL|  24|               NULL|           woorinyan|       riverwood|     qld| 3749|19180205|9341716|
|              NULL|              NULL|       19|   sachin|   stephenson|  81| rose scott circuit|       cordoba manor|       ashfi eld|     vic| 4226|19461101|4783085|
|0.9999990711198549|0.9999999990901691|       18|    kylee|   stephenson|  81| rose scott circuit|       cordoba manor|        ashfield|     vic| 4226|19461101|4783085|
|0.9989757346524352|0.9989757346524352|       24|   briony|      koerbin| 146|violet grover place|           wybelanah|       mill park|     nsw| 2446|19210210|3808808|
|              NULL|              NULL|       26|     emma|     crossman|  53|     mcdowall place|           kellhaven|            tara|     vic| 5608|19391027|3561186|
|0.9999999999940862|0.9999999999940862|       28| brooklyn|naar-cafentas| 210|       duffy street|        tourist psrk|         berwick|     nsw| 2481|    NULL|3624304|
|0.9999999999940862|0.9999999999940862|       28| brooklyn|naar-cafentas| 210|       duffy street|        tourist park|         berwick|     nsw| 2481|19840802|3624304|
|0.9999999999795731|0.9999999999795731|       30|   keziah|      painter|  18|    ainsli e avenue|               sec 1|         torquay|     vic| 3205|19191031|7801066|
|0.9999999999795731|0.9999999999795731|       30|   keziah|      painter|  18|     ainslie avenue|               sec 1|         torquay|     vic| 3205|19191031|7801066|
|0.9982186309296486|0.9999633624976049|       32|     erin|      maynard|  51|    wilshire street|            warialda|    little irver|     vic| 2777|19970430|1815999|
|              NULL|              NULL|       34|   hayley|      maynard|  14|    wilshire street|                NULL|    little river|     vic| 2777|19970430|7429462|
|              NULL|              NULL|       42|   sarsha|         held|  42|    lampard circuit|                NULL|      golden bay|     vic| 2447|19510806|3710651|
| 0.999999996706862| 0.999999996706862|       48|benjaminl|      carbone|  18|           arthella|      wattle s treet|          orange|     vic| 3550|19050820|3677127|
|0.9999999991407398|0.9999999991407398|       54|    tyler|        frojd|NULL|  burramurra avenue|       kmart p plaza|        san rmeo|      sa| 3670|19800916|7812219|
|0.9999999486937632|0.9999999999841143|       60|   nicole|      carbone|  46|    schlich nstreet|simpson army barr...|       toowoomba|      wa| 3000|19030926|8190756|
|0.9999967205676822|0.9999999997349232|       60|   nicole|      carbone|  46|     schlich street|simpson arm ybarr...|         toowong|      wa| 3000|19030926|8190756|
|0.9999762993815426|0.9999998358457786|       18|    kylee|   stephenson|  81| rose scott circuit|       cordoba manor|        ashfield|     vic| 4226|19461101|4783085|
|              NULL|              NULL|       42|   sarsha|         held|  42|    lampard circuit|                NULL|      golden bay|     vic| 2447|19510806|3710651|
|0.9999994376650069|0.9999994376650069|       48|benjaminl|      carbone|  18|           arthella|      wattle s treet|          orange|     vic| 3550|19050820|3677127|
|0.9987212022279843|0.9998189860690198|       32|     erin|      maynard|  51|    wilshire street|            warialda|    little irver|     vic| 2777|19970430|1815999|
|0.9918711159042678|0.9918711159042678|       24|   briony|      koerbin| 146|violet grover place|           wybelanah|       mill park|     nsw| 2446|19210210|3808808|
|0.9999425806745492|0.9999998871628132|       60|   nicole|      carbone|  46|     schlich street|simpson arm ybarr...|         toowong|      wa| 3000|19030926|8190756|
|0.9999999877168341|0.9999999877168341|       30|   keziah|      painter|  18|     ainslie avenue|               sec 1|         torquay|     vic| 3205|19191031|7801066|
|0.9999999327180359|0.9999999745828728|       11|     xani|        green|   2|     phillip avenue|         abbey green|        armidale|     nsw| 5108|19390410|9201857|
|              NULL|              NULL|        8|   gianni|       matson| 701|      willis street|           boonooloo|         clifton|     vic| 3101|19410111|2540080|
|0.9958681620660116|0.9958681620660116|        3|     Érik|         Guay| 840|      fowles street|         moun tvjiew|  burleigh heads|      ss| 2830|    NULL|2932837|
|0.9999900044033234|0.9999931860193239|        5|  jackson|      christo| 840|      fowles street|          mou ntveiw|   burleig heads|      sa| 2830|19830807|2932837|
|0.9999999877168341|0.9999999877168341|       30|   keziah|      painter|  18|    ainsli e avenue|               sec 1|         torquay|     vic| 3205|19191031|7801066|
| 0.999999774885449| 0.999999774885449|       54|    tyler|        frojd|NULL|  burramurra avenue|       kmart p plaza|        san rmeo|      sa| 3670|19800916|7812219|
| 0.999997916797032|0.9999999897548713|       60|   nicole|      carbone|  46|    schlich nstreet|simpson army barr...|       toowoomba|      wa| 3000|19030926|8190756|
|0.9999999581010972|0.9999999581010972|        1|   thomas|       george|   1|      mcmanus place|        stoney creek|north turramurra|      sa| 3130|19630225|5460534|
|0.9999999944062508|0.9999999944062508|       28| brooklyn|naar-cafentas| 210|       duffy street|        tourist psrk|         berwick|     nsw| 2481|    NULL|3624304|
|              NULL|              NULL|       26|     emma|     crossman|  53|     mcdowall place|           kellhaven|            tara|     vic| 5608|19391027|3561186|
|0.9999999944062508|0.9999999944062508|       28| brooklyn|naar-cafentas| 210|       duffy street|        tourist park|         berwick|     nsw| 2481|19840802|3624304|
|0.9999983077197948| 0.999999996433292|       15|     NULL|         NULL|  24|               NULL|           woorinyan|       riverwood|     qld| 3749|19180205|9341716|
|              NULL|              NULL|       34|   hayley|      maynard|  14|    wilshire street|                NULL|    little river|     vic| 2777|19970430|7429462|
|              NULL|              NULL|       19|   sachin|   stephenson|  81| rose scott circuit|       cordoba manor|       ashfi eld|     vic| 4226|19461101|4783085|
| 0.999679915343463| 0.999679915343463|        1|   thomas|       george|   1|      mcmanus place|        stoney creek|north turramurra|      sa| 3130|19630225|5460534|
|0.9797670663843792|0.9797670663843792|        3|     Érik|         Guay| 840|      fowles street|         moun tvjiew|  burleigh heads|      ss| 2830|    NULL|2932837|
|0.9947516239623374|0.9953782181464611|        5|  jackson|      christo| 840|      fowles street|          mou ntveiw|   burleig heads|      sa| 2830|19830807|2932837|
|              NULL|              NULL|        8|   gianni|       matson| 701|      willis street|           boonooloo|         clifton|     vic| 3101|19410111|2540080|
|  0.99964272651663|0.9997964632759597|       11|     xani|        green|   2|     phillip avenue|         abbey green|        armidale|     nsw| 5108|19390410|9201857|
|0.6570740233366712| 0.999894911905114|       15|     NULL|         NULL|  24|               NULL|           woorinyan|       riverwood|     qld| 3749|19180205|9341716|
|              NULL|              NULL|       19|   sachin|   stephenson|  81| rose scott circuit|       cordoba manor|       ashfi eld|     vic| 4226|19461101|4783085|
|0.9820893172235177|0.9992025962258886|       18|    kylee|   stephenson|  81| rose scott circuit|       cordoba manor|        ashfield|     vic| 4226|19461101|4783085|
|0.7226883643046735|0.7226883643046735|       24|   briony|      koerbin| 146|violet grover place|           wybelanah|       mill park|     nsw| 2446|19210210|3808808|
|              NULL|              NULL|       26|     emma|     crossman|  53|     mcdowall place|           kellhaven|            tara|     vic| 5608|19391027|3561186|
| 0.999876464087224| 0.999876464087224|       28| brooklyn|naar-cafentas| 210|       duffy street|        tourist psrk|         berwick|     nsw| 2481|    NULL|3624304|
| 0.999876464087224| 0.999876464087224|       28| brooklyn|naar-cafentas| 210|       duffy street|        tourist park|         berwick|     nsw| 2481|19840802|3624304|
|0.9997876561105727|0.9997876561105727|       30|   keziah|      painter|  18|    ainsli e avenue|               sec 1|         torquay|     vic| 3205|19191031|7801066|
|0.9997876561105727|0.9997876561105727|       30|   keziah|      painter|  18|     ainslie avenue|               sec 1|         torquay|     vic| 3205|19191031|7801066|
|0.9737609074406818|0.9932551204868928|       32|     erin|      maynard|  51|    wilshire street|            warialda|    little irver|     vic| 2777|19970430|1815999|
|              NULL|              NULL|       34|   hayley|      maynard|  14|    wilshire street|                NULL|    little river|     vic| 2777|19970430|7429462|
|              NULL|              NULL|       42|   sarsha|         held|  42|    lampard circuit|                NULL|      golden bay|     vic| 2447|19510806|3710651|
|0.9982829976626163|0.9982829976626163|       48|benjaminl|      carbone|  18|           arthella|      wattle s treet|          orange|     vic| 3550|19050820|3677127|
|0.9992619135127871|0.9992619135127871|       54|    tyler|        frojd|NULL|  burramurra avenue|       kmart p plaza|        san rmeo|      sa| 3670|19800916|7812219|
|0.9958910367716658| 0.999812011823755|       60|   nicole|      carbone|  46|    schlich nstreet|simpson army barr...|       toowoomba|      wa| 3000|19030926|8190756|
|0.9888751155809997|0.9996989689313089|       60|   nicole|      carbone|  46|     schlich street|simpson arm ybarr...|         toowong|      wa| 3000|19030926|8190756|
|0.9970730967555984|0.9970730967555984|        1|   thomas|       george|   1|      mcmanus place|        stoney creek|north turramurra|      sa| 3130|19630225|5460534|
|0.8241452015902073|0.8241452015902073|        3|     Érik|         Guay| 840|      fowles street|         moun tvjiew|  burleigh heads|      ss| 2830|    NULL|2932837|
|0.9950904269847992|0.9958267984739926|        5|  jackson|      christo| 840|      fowles street|          mou ntveiw|   burleig heads|      sa| 2830|19830807|2932837|
|              NULL|              NULL|        8|   gianni|       matson| 701|      willis street|           boonooloo|         clifton|     vic| 3101|19410111|2540080|
|0.9966147895335838|0.9975857936667586|       11|     xani|        green|   2|     phillip avenue|         abbey green|        armidale|     nsw| 5108|19390410|9201857|
|0.9953664767007168|0.9983203462574148|       15|     NULL|         NULL|  24|               NULL|           woorinyan|       riverwood|     qld| 3749|19180205|9341716|
|              NULL|              NULL|       19|   sachin|   stephenson|  81| rose scott circuit|       cordoba manor|       ashfi eld|     vic| 4226|19461101|4783085|
|0.9890608522996144|0.9975003288215899|       18|    kylee|   stephenson|  81| rose scott circuit|       cordoba manor|        ashfield|     vic| 4226|19461101|4783085|
|              NULL|              NULL|       25|   briony|      koerbin| 146|violet grover place|           wybelanah|       mill park|     nsw| 2446|19210210|3808808|
|              NULL|              NULL|       26|     emma|     crossman|  53|     mcdowall place|           kellhaven|            tara|     vic| 5608|19391027|3561186|
|0.9980049573375565|0.9980049573375565|       28| brooklyn|naar-cafentas| 210|       duffy street|        tourist psrk|         berwick|     nsw| 2481|    NULL|3624304|
|0.9980049573375565|0.9980049573375565|       28| brooklyn|naar-cafentas| 210|       duffy street|        tourist park|         berwick|     nsw| 2481|19840802|3624304|
|0.9974245535059925|0.9974245535059925|       30|   keziah|      painter|  18|    ainsli e avenue|               sec 1|         torquay|     vic| 3205|19191031|7801066|
|0.9974245535059925|0.9974245535059925|       30|   keziah|      painter|  18|     ainslie avenue|               sec 1|         torquay|     vic| 3205|19191031|7801066|
|0.9547023842982995|0.9809742994223918|       32|     erin|      maynard|  51|    wilshire street|            warialda|    little irver|     vic| 2777|19970430|1815999|
|              NULL|              NULL|       34|   hayley|      maynard|  14|    wilshire street|                NULL|    little river|     vic| 2777|19970430|7429462|
+------------------+------------------+---------+---------+-------------+----+-------------------+--------------------+----------------+--------+-----+--------+-------+
only showing top 100 rows

In [0]:
options = ClientOptions([ClientOptions.PHASE,"generateDocs"])

#Zingg execution for the given phase
zingg = ZinggWithSpark(args, options)
zingg.initAndExecute()

['--phase', 'generateDocs']
arguments for client options are  ['--phase', 'generateDocs', '--license', 'zinggLic.txt', '--email', 'zingg@zingg.ai', '--conf', 'dummyConf.json']

In [0]:
DOCS_DIR = zinggDir + "/" + modelId + "/docs/"

In [0]:
# check that docs succesfully generated
dbutils.fs.ls('file:'+DOCS_DIR)

[FileInfo(path='file:/models/databricksdemotrial/docs/model.html', name='model.html', size=62062, modificationTime=1702557025082),
 FileInfo(path='file:/models/databricksdemotrial/docs/data.html', name='data.html', size=2250, modificationTime=1702557025710)]

In [0]:
displayHTML(open(DOCS_DIR+"model.html", 'r').read())

In [0]:
displayHTML(open(DOCS_DIR+"data.html", 'r').read())

Field Name,Field Type,Nullable
id,StringType,true
fname,StringType,true
lname,StringType,true
stNo,StringType,true
add1,StringType,true
add2,StringType,true
city,StringType,true
state,StringType,true
areacode,StringType,true
dob,StringType,true
ssn,StringType,true

# Improve accuracy - ask Zingg to recommend stopwords for a particular column. 
These are common occuring words like pvt, ltd etc which occur across a lot of rows and do not add any meaning to the matching. You can read more about hese at [the Zingg docs](https://docs.zingg.ai/zingg-0.4.0/improving-accuracy/stopwordsremoval)

**In the following cell, we are asking for recommendations for the city column. Please edit as per your needs**

In [0]:
options = ClientOptions([ClientOptions.PHASE,"recommend", "--column", "city"])
args.setStopWordsCutoff(0.5)
#Zingg execution for the given phase
zingg = ZinggWithSpark(args, options)
zingg.initAndExecute()

['--phase', 'recommend', '--column', 'city']
arguments for client options are  ['--phase', 'recommend', '--column', 'city', '--license', 'zinggLic.txt', '--email', 'zingg@zingg.ai', '--conf', 'dummyConf.json']

# View recommendations and configure them in the Zingg arguments.

Please check the FieldDefinition's setStopWords() method to set the stop words for each field

**We are using the recommendations as is, but you can massage the values, add or remove words that matter to the dataset to get the best results**

In [0]:
#dbutils.fs.ls(zinggDir+"/"+modelId+"/stopWords")
stopwordsForCity = spark.read.csv(zinggDir+"/"+modelId+"/stopWords/city")
stopwordsForCity.show()

+------+-------+
|   _c0|    _c1|
+------+-------+
|z_word|z_count|
+------+-------+